* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #0f2080, #139ec9);
}

header > img {
  height: 100%;
  margin-left: 5%;
}

header > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.input-form {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #0f2080, #139ec9);
}
